 /* Declaration for font */
 @font-face { font-family: GeoSans; src: url('Fonts/GeosansLight.ttf'); }
 @font-face { font-family: Walkway; src: url('Fonts/WalkwaySemiBold.ttf'); } 

/* General Formatting for the entire page */
*{
    margin: 0px;    /* Remove all margins and paddings by default */
    padding: 0px;
}


body{
    width: 100%;
    height:100%;
    margin:0;
    padding:0;
}

p {
    text-decoration: underline;
}

/*Header sizing, formatting and positioning */
.header {
	text-align:left; 
	margin-top:20px;
	text-decoration:none;
    text-align:center;
    padding-bottom:30px;
	font-weight: bold;
    font-size:34px;
	color: #ffffff;
    font-family:Walkway;


}

/* Score and Timer formatting / positioning */
span#score{
    font-size:25px;
    right:90px;
    bottom: 510px;
    position:relative;
    text-decoration: none;
    color:#ffffff;
    font-family:Walkway;
    border: 2px solid #741c7c;
    border-radius: 7px;
    padding-top:4px;
    padding-right:4px;
    padding-left:4px;
    padding-bottom:4px;
}

span#timer{
    font-size:25px;
    left: 180px;
    bottom:484px;
    position:relative;
    color:#ffffff;
    font-family:Walkway;
    padding-left:0px;
    padding-right:0px;
    border: 2px solid #741c7c;
    border-radius: 7px;
    padding-top:4px;
    padding-right:4px;
    padding-left:4px;
    padding-bottom:4px;
}

/* Canvas Positioning*/
canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top:0px;
    position:relative;
}

/* Background color */
body {
	background:#222222;
}

#homeNav {
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    position:relative;
    top:570px;
    font-family: arial;
    font-size:15px;
    right:0px;
}

#scoreboard{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    position:relative;

    top:510px;
    font-size:25px;
    right:50px;
}

/* Used to create a spacing between the hyperlinks */
span.navSpace {
    padding-left:150px;
}


/* Fomatting for the hyperlinks */
a:visited { 
    text-decoration: none; color: White; 
}
a:hover, a:active { 
    text-decoration:none;
    transition: color .9s;
    text-decoration: none; color:Grey
}

/* Formatting for the footer */
.footer {
    width: 100%;
    margin-bottom:0px;
    height: 30px;
    display: block;
    background-color:#3366cc;
    text-align: center;

    /* Ensures that footer is always at the bottom of the page (1440 x 794)*/
    position:absolute; 
    margin:0;
    padding:0;
    right: 0;
    bottom: 0;
    left: 0;
    
}

.footerContent{
    width: 80%;
    margin: auto;
    padding: 5px;
    text-align: center;
    color:#ffffff;
    font-size:14px;
    font-family: GeoSans;
}

/* Formatting for the HomeNav hyperlinks */
#homeNav a {
color: #741c7c;
transition: transform 0.2s;
text-decoration: none;
position: relative;
color:white;
}

#homeNav a::before {
color:white;
position: absolute;
top: -2px;
left: -7px;
box-sizing: content-box;
padding: 0 5px;
width: 100%;
height: 100%;
border: 2px solid #741c7c;
content: '';
opacity: 0; /* Hides the box unless there is a mousehover */

/* Creates visual effect */
-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;   
transition: opacity 0.2s, transform 0.2s;
-webkit-transform: scale(1.2);
transform: scale(1.2);
}
#homeNav a:hover::before {
opacity: 1;
-webkit-transform: scale(1.5);
transform: scale(1.5);
}

/* Fomatting for the Difficulty Dropdown Menu */
.dropdown {
    position:relative;
    display:inline-block;
    left:600px;
    bottom:30px;
}

.dropbtn {
    background-color:#3366cc;
    color:white;
    padding:16px;
    padding-left:50px;
    padding-right:50px;
    text-align: center;
    font-size:16px;
    border:none;
    font-family: Arial;

}

.dropdown-content {
    display:none;
    position:absolute;
    background-color:#f1f1f1;
    font-family: GeoSans;
    min-width: 160px;
    font-size:18px;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
    right:0px;

}

.dropdown-content a {
    color:black;
    text-align:center;
    padding-right:20px;
    padding-left:20px;
    padding-top:20px;
    padding-bottom:20px;
    text-decoration: none;
    display:block;
}

.dropdown-content a::before {
    padding-left:0px;
    padding-right:0px;
}

.dropdown-content a:hover {
    background-color: #ddd
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color:#3366cc;
}
/* https://www.youtube.com/watch?v=FEmysQARWFU (Navbar tutorial) */

